<section id="events-list" class="col-xs-12" >
	<h1 >EventDetail
		
		<button class="btn btn-info pull-right" ng-click="eventDetailCtrl.takePicture()" >Take pic</button >
		<div class="btn-group pull-right" >
			<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
				Pin contact <span class="caret" ></span >
			</button >
			<ul class="dropdown-menu" >
				<li ><a href="#" >From app</a ></li >
				<li ><a href="" ng-click="eventDetailCtrl.pinContactFromMobile()" >From mobile</a ></li >
				<li ><a ui-sref="contactNewPin({ id : eventDetailCtrl.event.id })" >Create new</a ></li >
			</ul >
		</div >
	
	</h1 >
	<pre >{{ eventDetailCtrl.event | json }}</pre >
	<eventcard event="eventDetailCtrl.event" full="true" ></eventcard >
</section >