<section class="col-xs-12" >
	<h1 >ContactList
		<a ui-sref="contactNew" class="btn btn-primary pull-right" >New contact</a >
		<a ng-if="contactListCtrl.event" ui-sref="eventDetail({ id: contactListCtrl.event.id })" class="btn btn-success pull-right" >Back to event</a >
	</h1 >
	
	<table class="table table-responsive, table-striped" ng-if="contactListCtrl.contacts" >
		<tr >
			<th >Lastname</th >
			<th >Firstname</th >
			<th >Mobile</th >
			<th ></th >
		</tr >
		<tr ng-repeat="contact in contactListCtrl.contacts" >
			<td >{{ contact.lastname }}</td >
			<td >{{ contact.firstname }}</td >
			<td >{{ contact.mobile }}</td >
			<td >
				<a ng-if="!contactListCtrl.event" ui-sref="contactEdit({ id: contact.id })" class="btn btn-primary btn-xs" >Edit</a >
				<button ng-if="!contactListCtrl.event" class="btn btn-danger btn-xs" ng-click="contactListCtrl.deleteContact( contact )" >Delete</button >
				<button ng-if="contactListCtrl.event" class="btn btn-success btn-xs" ng-click="contactListCtrl.pinContactToEvent( contact )" >Pin</button >
			</td >
		</tr >
	</table >
</section >