<section id="events-list" class="col-xs-12" >
	<h1 >EventList</h1 >
	<div class="panel panel-default" >
		<div class="panel-heading" >
			NAME
			<span class="label label-primary pull-right" >DATE</span >
		</div >
		<div class="panel-body" >
			<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto perspiciatis quod voluptatibus? Ab accusamus cumque distinctio dolor dolorum eaque excepturi exercitationem expedita facere incidunt ipsum laborum, molestiae neque similique ullam veritatis vitae. Aspernatur, corporis dolor eius est inventore iusto praesentium! Impedit, nemo sit? Aliquid beatae cumque debitis, delectus dolores enim expedita illum inventore laborum laudantium minima officiis rem tempora. Delectus, numquam temporibus. Animi enim ex expedita maiores minus nesciunt numquam praesentium, quasi quibusdam quis rem repudiandae sint unde. Aperiam, at distinctio dolor dolores eveniet fugiat fugit id illum inventore iste labore, molestias non perspiciatis quae qui quod, suscipit tenetur veritatis.</p >
			<hr />
			
			<h4 >Contacts
				<button class="btn btn-primary btn-xs pull-right" type="button" data-toggle="collapse" data-target="#contactEvent-000" aria-expanded="false" aria-controls="contactEvent-000" >
					+
				</button >
			</h4 >
			<ul class="list-group collapse" id="contactEvent-000" >
				<li class="list-group-item" >Cras justo odio</li >
				<li class="list-group-item" >Dapibus ac facilisis in</li >
				<li class="list-group-item" >Morbi leo risus</li >
				<li class="list-group-item" >Porta ac consectetur ac</li >
				<li class="list-group-item" >Vestibulum at eros</li >
			</ul >
			
			<hr />
			<h4 >Pictures
				<button class="btn btn-primary btn-xs pull-right" type="button" data-toggle="collapse" data-target="#picsEvent-000" aria-expanded="false" aria-controls="picsEvent-000" >
					+
				</button >
			</h4 >
			<div class="collapse" id="picsEvent-000" >
				PICS
			</div >
		</div >
	</div >
</section >