<section id="events-list" class="col-xs-12" >
	<h1 >Event - {{ eventFormCtrl.type }}</h1 >
	
	<form name="eventForm" ng-submit="eventFormCtrl.validate( eventForm.$valid )" novalidate >
		<pre >{{ eventFormCtrl.event | json }}</pre >
		
		<div class="alert alert-warning alert-dismissible" role="alert" ng-if="eventForm.$submitted && eventForm.$invalid" >
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" >
				<span aria-hidden="true" >&times;</span ></button >
			<strong >Warning!</strong > You must set a name and text to create new event.
		</div >
		
		<div class="form-group" ng-class="{ 'has-error' : eventForm.title.$invalid && ( eventForm.$submitted || !eventForm.title.$pristine ) }" >
			<label for="title" >Title</label >
			<input type="text" id="title" class="form-control" name="title" ng-model="eventFormCtrl.event.title" required >
		</div >
		<div class="form-group" ng-class="{ 'has-error' : eventForm.text.$invalid && ( eventForm.$submitted || !eventForm.text.$pristine ) }" >
			<label for="text" >Text</label >
			<textarea id="text" class="form-control" name="text" ng-model="eventFormCtrl.event.text" required ></textarea >
		</div >
		
		<button type="submit" class="btn btn-primary" >{{ eventFormCtrl.type }}</button >
		<button type="reset" class="btn btn-default" >Reset</button >
	</form >
</section >
